<div class="container-card">
        <div class="card teal lighten-5" style="margin:20px; padding:20px">
          <div class="card-content white-black center">
<h4>{{user.name}}</h4>
<p>Gender - {{user.gender}}</p>
<p>Weight - {{user.weight}}</p>
          <h5>Current BAC</h5>
          {{#if user.bac}}
          <div style="border-radius: 15px; border: solid teal 2px; padding: 5px; background: white; color: teal">
            <h6 style="font-weight: bold">{{user.bac}}</h6>
          </div>
          {{else}}
          <div style="border-radius: 15px; border: solid teal 2px; padding: 5px; background: white; color: teal">
            <h6 style="font-weight: bold">0.0</h6>
          </div>
          {{/if}}
          <br>
          <form action="/user/{{user.id}}/bac" method="get">
          <button style="margin:5px" class="btn waves-effect waves-light teal darken-1" type="submit" name="BAC">Calculate BAC<i class="material-icons right">send</i></button>
          </form>
        </div>
      </div>
        <div class="card teal lighten-5" style="margin:20px; padding:20px">
          <div class="card-content white-black center">
<form action="/user/{{user.id}}" method="post">
  <h5>Add a Drink</h5>
  <br>
  <button style="margin:5px" class="btn waves-effect waves-light teal darken-1" type="submit" name="drinkType" value="Beer">Beer<i class="material-icons right">plus_one</i></button>
  <br>
  <button style="margin:5px" class="btn waves-effect waves-light teal darken-1" type="submit" name="drinkType" value="Wine">Wine<i class="material-icons right">plus_one</i></button>
  <br>
  <button style="margin:5px" class="btn waves-effect waves-light teal darken-1" type="submit" name="drinkType" value="Liquor">Liquor<i class="material-icons right">plus_one</i></button>
          </form>
          <br>
        </div>
      </div>
      </div>
      {{#if user.buzzes}}
      <div class="container-card">
        <div class="card teal lighten-4" style="margin:20px; padding: 20px; text-align: center">
          <br>
          <br>
          <br>
          <h5>Current Buzz</h5>
          </div>
          {{/if}}
      {{#if user.buzzes}}
        {{#each user.buzzes }}
              <div class="card teal lighten-5" style="margin:20px; padding: 20px; text-align: center">
                <div class="card-content white-black center">
                  <h6>{{numberOfDrinks}} - {{drinkType}}</h6>
                  <br>
              <p style="max-width:170px;
        word-wrap:break-word">{{dateCreated}}</p>
        <br>
      <form action="/user/{{@root.user.id}}/del?_method=PUT" method="post">
        <button class="btn waves-effect waves-light teal darken-1" type="submit" name="index" value="{{id}}">Delete<i class="material-icons right">delete</i></button>
      </form>
      </div>
        </div>
              {{/each}}
              </div>
              {{else}}
              <div class="container-card">
              <div class="card teal lighten-4" style="padding:20px; text-align: center; margin:20px">
                <h5 style="text-align: center">Current Buzz</h5>
                <br>
              <h6>Congrats, keep up</h6>
              <h6>the good work!</h6>
              <br>
                <h6>It's been:
                <h6 style="font-weight: bold">{{user.timeSince}}</h6>
                <h6>since your last drink.</h6>
              </div>
            </div>
                {{/if}}
              <h5 style="text-align: center">Historical Buzzes</h5>
            <div class="container-card">
            {{#if user.oldbuzzes}}
              {{#each user.oldbuzzes }}
                    <div class="card teal lighten-5" style="padding:20px; margin:20px">
                      <div class="card-content white-black center">
                <h6>{{numberOfDrinks}} - {{drinkType}}</h6>
                <br>
            <p style="max-width:170px;
    word-wrap:break-word">{{dateCreated}}</p>
    <br>
            <form action="/user/{{@root.user.id}}/olddel?_method=PUT" method="post">
              <button class="btn waves-effect waves-light teal darken-1" type="submit" name="index" value="{{id}}">Delete<i class="material-icons right">delete</i></button>
            </form>
            </div>
              </div>
                    {{/each}}
                      {{/if}}
                    </div>
