<div class="container-card">
        <div class="card blue lighten-5" style="margin:25px">
          <div class="card-content white-black center">
<h4>{{user.name}}</h4>
<p>Gender - {{user.gender}}</p>
<p>Weight - {{user.weight}}</p>
<p>Email - {{user.email}}</p>
<p># of Buzzes - {{user.buzzes.length}}</p>
          <h5>Current BAC</h5>
          <h6>{{user.bac}}</h6>
        </div>
      </div>
        <div class="card blue lighten-5" style="margin:25px; height:208px">
          <div class="card-content white-black center">
<form action="/user/{{user.id}}/" method="post">
  <h6>Add a Drink</h6>
  <button style="margin:5px" class="btn waves-effect waves-light orange lighten-1" type="submit" name="drinkType" value="Beer">Beer<i class="material-icons right">plus_one</i></button>
  <button style="margin:5px" class="btn waves-effect waves-light orange lighten-1" type="submit" name="drinkType" value="Wine">Wine<i class="material-icons right">plus_one</i></button>
  <button style="margin:5px" class="btn waves-effect waves-light orange lighten-1" type="submit" name="drinkType" value="Liquor">Liquor<i class="material-icons right">plus_one</i></button>
          </form>
        </div>
      </div>
      <div class="container-card">
              <div class="card blue lighten-5" style="margin:25px">
      {{#if user.buzzes}}
        {{#each user.buzzes }}
              <div class="card orange lighten-5" style="margin:15px">
                <div class="card-content white-black center">
          <p>Number of Drinks - {{numberOfDrinks}}</p>
      <p>Drink Type - {{drinkType}}</p>
      <p>Number of Hours - {{hours}}</p>
      </div>
        </div>
              {{/each}}
                {{/if}}
              </div>
            </div>
    </div>
